* {
  box-sizing: border-box;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: white;
  color: black;
}

nav {
  background-color: paleturquoise;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.usersFoundList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container p {
  text-align: center;
}
