* {
  box-sizing: border-box;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li:nth-child(odd) {
  background-color: burlywood;
}
li:nth-child(even) {
  background-color: beige;
}

nav {
  background-color: paleturquoise;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 2rem;
  text-align: center;
}

.usersFoundList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.smallprofile {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: plum;
}

.searchForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container p {
  text-align: center;
}

.auth {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.auth button {
  display: inline;
}
